body {
  font: small/1.7em "Trebuchet MS", Tahoma, Verdana, sans-serif;
  width: 760px;
}

form.user, .warning {
  width: 400px;
  margin: 1em 0;
}
legend {
  font-weight: bold;
}
form dt, .submit {
  float: left;
  clear: both;
  width: 7.5em;
}
form dd input {
  margin-bottom: 0.5em;
}
form.user img {
  vertical-align: sub;
}
.ajax-loading {
  font-size: medium;
}

.warning {
  border: 1px solid #ffb200;
  padding: 1em 0;
  background-color: #fffccc;
  font-weight: bold;
  text-align: center;
}

.footnote {
  line-height: 1.2em;
}

.hide {
  display: none;
}
